@keyframes sideToLeft {
  0% {
    left: 100vw;
  }
  100% {
    left: -1730px;
  }
}
.bonusBar_item_animation {
  animation-name: sideToLeft;
  animation-duration: 25s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
