@media screen and (max-width: 1850px) {
  .brokers_container_list_broker_reputation_information_score {
    flex-wrap: wrap;
  }
  .brokers_container_list_broker_reputation {
    align-items: center;
  }
  .brokers_container_list_broker_information p {
    font-size: 24px;
  }
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1650px) {
  .otherBrokers_container {
    width: 80%;
  }
  .otherBrokers_title h1 {
    width: 80%;
  }
}
@media screen and (max-width: 1450px) {
  .otherBrokers_container {
    width: 100%;
  }
  .brokers_menu h1 {
    font-size: 42px;
  }
  .brokers_container_category_option h3 {
    font-size: 28px;
  }
  .footer iframe {
    height: 267px;
  }
  .bonus_container_award_medals_reward h3 {
    font-size: 54px !important;
  }
}
@media screen and (max-width: 1150px) {
  .brokers_menu h1 {
    font-size: 38px;
  }
  .menuBtn_active {
    text-underline-offset: 5px !important;
  }
  .brokers_container_category_option h3 {
    font-size: 24px;
  }
  .brokers_container_category_searchForm input {
    font-size: 14px;
  }
  .otherBrokers_container_broker_content {
    font-size: 24px;
  }
  .brokers_container_list_broker_information {
    flex-direction: column;
  }
  .brokers_container_list_broker_information_image {
    width: 80%;
    margin-bottom: 20px;
  }
  .brokers_container_list_broker_reputation {
    flex-direction: column;
  }
  .brokers_container_list_broker_reputation .scroll-bar {
    width: 90%;
    height: 400px;
    margin-bottom: 25px;
  }
  .brokers_container_list_broker_reputation_information {
    width: 90%;
  }
}
@media screen and (max-width: 1051px) {
  .otherBrokers_container_broker_content {
    font-size: 20px;
  }
  .brokers_container_category_option h3 {
    font-size: 20px;
  }
  .brokers_container_category_searchForm input {
    font-size: 12px;
  }
  .brokers_container_category_searchForm input:placeholder-shown {
    font-size: 10px;
  }
  .brokers_container_category_searchForm i {
    font-size: 32px;
  }
  .brokers_menu h1 {
    font-size: 32px;
  }
  .bonus_container_information_context span {
    font-size: 20px;
  }
  .bonus_container_rewardStructure_title h1 {
    font-size: 40px;
  }
  .bonus_container_award_medals_reward h3 {
    font-size: 48px !important;
  }
}
@media screen and (max-width: 970px) {
  .footer iframe {
    height: 292px;
  }
  .title {
    font-size: 48px;
  }
  .otherBrokers_container_broker_content {
    font-size: 18px;
  }
  .brokers_container_category {
    padding: 20px 4%;
  }
  .brokers_container_category {
    flex-direction: column;
    margin-top: 20px;
  }
  .brokers_container_category_option {
    margin-bottom: 30px;
  }
  .brokers_container_category_option h3 {
    font-size: 32px;
  }
  .brokers_container_category_searchForm {
    width: 80%;
    justify-content: center;
  }
}
@media screen and (max-width: 870px) {
  .brokers_menu h1 {
    font-size: 28px;
  }
  .otherBrokers_container_broker {
    flex-direction: column;
  }
  .otherBrokers_container_broker_image {
    margin-bottom: 20px;
  }
  .otherBrokers_container_broker {
    margin-bottom: 40px;
  }
  .otherBrokers_container {
    width: 80%;
    padding: 4% 2%;
  }
  .bonus_container_rewardStructure_title h1 {
    font-size: 34px;
  }
  .bonus_container_privilege_list {
    flex-direction: column;
  }
  .bonus_container_privilege_list_group {
    width: 90%;
  }
  .bonus_container_privilege_list_group:first-child::after {
    display: none;
  }
  .bonus_container_award_medals_reward h3 {
    font-size: 40px !important;
  }
  .bonus_container_offer_content h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 750px) {
  .footer iframe {
    height: 370px;
  }
  .title {
    font-size: 38px;
  }
  .brokers_menu h1 {
    font-size: 24px;
  }
  .bonus_container_award_title h1 {
    font-size: 40px;
  }
  .bonus_container_policy_title h1 {
    font-size: 38px;
  }
  .bonus_container_award_medals_reward img {
    scale: 0.9;
  }
  .bonus_container_offer > h1 {
    font-size: 40px;
  }
  .bonus_container_offer_support_title i {
    font-size: 54px;
  }
}
@media screen and (max-width: 670px) {
  .brokers_container_category_option h3 {
    font-size: 26px;
  }
  .otherBrokers_container_broker_content {
    font-size: 14px;
  }
  .otherBrokers_container_broker_content i {
    font-size: 30px;
  }
  .otherBrokers_title h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .brokers_menu h1 {
    font-size: 20px;
  }
  .brokers_container_list_broker_information p {
    font-size: 18px;
  }
  .brokers_container_category_option h3 {
    font-size: 22px;
  }
  .otherBrokers_title h1 {
    width: 90%;
  }
  .otherBrokers_container_broker_image {
    width: 250px;
    height: 150px;
  }
  .footer iframe {
    height: 400px;
  }
  .bonus_container_information_context i {
    font-size: 48px;
  }
  .bonus_container_information_time i {
    font-size: 48px;
  }
  .bonus_container_information_context span {
    font-size: 16px;
  }
  .bonus_container_award_title h1 {
    font-size: 32px;
  }
  .bonus_container_offer > h1 {
    font-size: 32px;
  }
  .bonus_container_award_medals_reward h3 {
    font-size: 26px !important;
  }
  .bonus_container_award_medals_reward img {
    scale: 0.8;
  }
  .bonus_container_policy_title h1 {
    font-size: 30px;
  }
  .bonus_container_policy > ul > li {
    font-size: 22px;
  }
  .bonus_container_policy > ul > ul li {
    font-size: 18px;
  }
  .bonus_container_offer_experience h1 {
    font-size: 36px;
  }
  .bonus_container_offer_support_title span {
    font-size: 32px;
  }
  .bonus_container_offer_support_title i {
    font-size: 46px;
  }
}
@media screen and (max-width: 400px) {
  .brokers_container_list::-webkit-scrollbar {
    width: 10px;
  }
  .brokers_container_list_broker_reputation_licenseList::-webkit-scrollbar {
    width: 10px;
  }
  .title {
    font-size: 28px;
  }
  .brokers_menu h1 {
    font-size: 18px;
  }
  .brokers_container_list_broker_information p {
    font-size: 14px;
  }
  .brokers_container_category_option h3 {
    font-size: 12px;
  }
  .brokers_container_category {
    padding: 20px 1%;
  }
  .brokers_container_category_searchForm {
    width: 90%;
  }
  .brokers_container_list_broker_reputation_licenseList_license_information
    span:first-child {
    font-size: 18px;
  }
  .brokers_container_list_broker_reputation_licenseList_license_information
    span {
    font-size: 18px;
  }
  .brokers_container_list_broker_reputation_licenseList_license img {
    width: 60px;
    height: 60px;
  }
  .brokers_container_list_broker_reputation_licenseList_license_information p {
    font-size: 10px;
  }
  .brokers_container_list_broker_reputation_information_score h1 {
    font-size: 26px;
  }
  .brokers_container_list_broker_reputation .scroll-bar {
    width: 100%;
  }
  .brokers_container_list_broker_reputation_information_score a {
    font-size: 16px;
    line-height: 35px;
  }
  .brokers_container_list_broker_reputation_information h2 {
    font-size: 22px;
  }
  .brokers_container_list_broker_reputation_information ul {
    font-size: 12px;
  }
  .brokers_container_list_broker_register a {
    font-size: 24px;
  }
  .otherBrokers_title h1 {
    font-size: 32px;
  }
  .footer iframe {
    height: 500px;
  }
  .bonus_container_information_context span {
    font-size: 10px;
  }
  .bonus_container_information_time span {
    font-size: 14px;
  }
  .bonus_container_information_time i,
  .bonus_container_information_context i {
    font-size: 34px;
  }
  .bonus_container_information p {
    font-size: 18px;
  }
  .bonus_container_rewardStructure_title h1 {
    font-size: 24px;
  }
  .bonus_container_rewardStructure > ul > li {
    font-size: 18px;
  }
  .bonus_container_rewardStructure > ul > ul li {
    font-size: 16px;
  }
  .bonus_container_rewardStructure_example h1 {
    font-size: 28px;
  }
  .bonus_container_rewardStructure_example p {
    font-size: 20px;
  }
  .bonus_container_rewardStructure_example ul li {
    font-size: 18px;
  }
  .bonus_container_rewardStructure_example p:last-child {
    font-size: 20px;
  }
  .bonus_container_privilege h1 {
    font-size: 30px;
  }
  .bonus_container_privilege_list_group h2 span {
    font-size: 20px;
  }
  .bonus_container_privilege_list_group h2 i {
    font-size: 30px;
  }
  .bonus_container_privilege_list_group ul li {
    font-size: 18px;
  }
  .bonus_container_award_title h1 {
    font-size: 20px;
  }
  .bonus_container_award_title img {
    scale: 0.9;
  }
  .bonus_container_award_medals_reward img {
    scale: 0.7;
  }
  .bonus_container_award_medals_reward h3 {
    font-size: 22px !important;
  }
  .bonus_container_policy_title h1 {
    font-size: 20px;
  }
  .bonus_container_policy_title i {
    font-size: 48px;
  }
  .bonus_container_policy > ul > li {
    font-size: 18px;
  }
  .bonus_container_policy > ul > ul li {
    font-size: 14px;
  }
  .bonus_container_policy_note ul li {
    font-size: 18px;
  }
  .bonus_container_offer_content h1 {
    font-size: 18px;
  }
  .bonus_container_offer_content i {
    font-size: 30px;
  }
  .bonus_container_offer_experience h1 {
    font-size: 28px;
  }
  .bonus_container_offer_experience ul li span {
    font-size: 18px;
  }
  .bonus_container_offer_experience ul li i {
    font-size: 24px;
  }
}
