<!DOCTYPE html>
<html lang="en" style="scrollbar-width: none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/components/bonusBar.css" />
    <link rel="stylesheet" href="/css/animation/bonusBarAnimation.css" />
  </head>
  <body>
    <div class="bonusBar">
      <div class="bonusBar_item">
        <h2>
          92% CASHBACK PROGRAM + 10% CASH BONUS FROM TP TRADING [COOPERATIVE
          WITH EXNESS • PUPIRME • VANTAGE • ETO MARKETS • BINGX]
        </h2>
      </div>
      <div class="bonusBar_item">
        <h2>
          92% CASHBACK PROGRAM + 10% CASH BONUS FROM TP TRADING [COOPERATIVE
          WITH EXNESS • PUPIRME • VANTAGE • ETO MARKETS • BINGX]
        </h2>
      </div>
    </div>
    <script src="/js/components/bonusBar.js"></script>
  </body>
</html>
