<!DOCTYPE html>
<html lang="en" style="scrollbar-width: none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/components/footer.css" />
    <link
      rel="stylesheet"
      href="/css/responsive/components/footerResponsive.css"
    />
    <title>Document</title>
  </head>
  <body>
    <section class="footerBar">
      <div class="footerBar_policy">
        <h1>TP Trading :</h1>
        <p>
          All for information purposes only and should not be considered
          investment advice. You should do your own research before making any
          investment decisions. TP Trading is not a financial advisor and will
          not take any responsibility in relation to your investment.
        </p>
      </div>
      <div class="footerBar_content">
        <p class="copyRight">
          Copyright © 2025 TP Trading. All rights reserved.
        </p>
        <div class="contacts">
          <a target="_parent" href="https://www.facebook.com/share/1BtGkCvcQA/"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a
            target="_parent"
            href="https://www.tiktok.com/@tptrading2012?_t=ZS-8y0vCiTHO9y&_r=1"
          >
            <i class="fa-brands fa-tiktok"></i
          ></a>
        </div>
      </div>
    </section>
  </body>
</html>
