<!DOCTYPE html>
<html lang="en" style="scrollbar-width: none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/components/menuHeader.css" />
    <link
      rel="stylesheet"
      href="/css/responsive/components/menuHeaderResponsive.css"
    />
  </head>
  <body>
    <div class="menu">
      <div class="menu_logo">
        <img src="/images/logo.png" alt="logo" />
      </div>
      <ul class="menu_tags">
        <li><a href="../index.html" target="_parent">Home</a></li>
        <li>
          <a href="/page/tradingBrokers.html" target="_parent"
            >Trading Brokers</a
          >
        </li>
        <li><a href="/page/blog.html" target="_parent">Blog</a></li>
        <li><a href="/page/news.html" target="_parent">News</a></li>
        <li><a href="/page/contact.html" target="_parent">Contact</a></li>
        <li>
          Languages:
          <div class="options">
            <span>VN</span><span>EN</span>
            <div class="ball"><span>EN</span></div>
          </div>
        </li>
      </ul>
      <i class="fa-solid fa-bars"></i>
    </div>
    <script src="/js/components/responsive/menuHeaderResponsive.js"></script>
  </body>
</html>
