* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  position: relative;
  top: 0;
}

.menu {
  border: none;
  position: absolute;
  z-index: 10000;
  top: -155px;
}
.footer {
  margin: 0;
  margin-top: 80px;
  width: 100%;
  position: absolute;
}
.footer iframe {
  border: none;
  height: 240px;
}
.section-title {
  text-align: center;
  margin: 40px 0;
}
body .form-section {
  margin-top: 160px;
}
.section-title h1 {
  background-color: #f0f0f0;
  width: 30%;
  margin: 0 auto;
  color: black;
  font-weight: 500;
  font-size: 48px;
  padding: 10px;
  border-radius: 20px;
}
.form-section {
  background-color: #eee;
  color: black;
  width: 80vw;
  margin: 0 auto 40px;
  border-radius: 20px;
  padding: 20px;
}
.form-section > h3 {
  margin: 20px 0;
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  color: #ff0000;
}

form {
  border: 2px solid #aaa;
  border-radius: 10px;
  padding: 2%;
  background-color: #ffff;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 28px;
}

input,
textarea {
  width: 100%;
  padding: 30px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid gray;
  font-size: 24px;
}

#send {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 20%;
  font-size: 32px;
}

.contact-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  margin-bottom: 60px;
}

.contact-card {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 25vw;
  text-align: center;
  padding: 10px;
}
.contact-card p:first-child {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact-card img {
  width: 100%;
}
.contact-card strong {
  font-size: 26px;
  margin-bottom: 10px;
  display: block;
}
.contact-card:nth-child(2) strong {
  font-size: 48px;
  font-weight: bold;
}
.contact-card p:last-child {
  font-size: 20px;
}

.circle-img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
  margin: 0 auto 10px;
}
.social-icons i {
  margin: 0 10px;
  font-size: 20px;
}
