* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aleo", serif;
}
body {
  background-color: #1f1f1f;
  position: relative;
}
.header {
  width: 100%;
  margin: 0;
}
.header iframe {
  border: none;
}
.header .menu {
  /* transform: translateY(-4%); */
  transition: all 0.8s linear;
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 100px;
}
.footer {
  margin: 0;
  margin-top: 80px;
  width: 100%;
}
.footer iframe {
  border: none;
  height: 240px;
}

section {
  width: 95vw;
  margin: 40px auto;
  margin-bottom: 60px;
  margin-top: 140px;
}
.dailyNews_title {
  font-size: 74px;
  text-align: center;
  color: white;
  font-weight: 400;
  margin-bottom: 50px;
}
.dailyNews_container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  height: 1000px;
}
.dailyNews_container_left {
  width: 20%;
  padding: 0.7%;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  overflow-x: scroll;
}
.dailyNews_container_left::-webkit-scrollbar {
  display: none;
}
.dailyNews_container_left img {
  width: 100%;
}
.dailyNews_container_left_smallNew {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.dailyNews_container_left_smallNew a {
  font-size: 24px;
  width: 96%;
  margin: 0 auto;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}
.dailyNews_container_left_smallNew p {
  width: 96%;
  margin: 0 auto;
}
.dailyNews_container_right {
  width: 20%;
  height: 100%;
  overflow: hidden;
}
.dailyNews_container_right_banners {
  height: 100%;
  width: 100%;
  position: relative;
  /* top: -50%; */
  top: 0;
  transition: all 2s linear;
}
.dailyNews_container_right_banners img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.dailyNews_container_middle {
  width: 56%;
  height: 100%;
  overflow: hidden;
}
.dailyNews_container_middle img {
  width: 100%;
}
.dailyNews_container_middle_mainNew {
  height: 65%;
  background-color: #071d39;
  color: white;
  margin-bottom: 2%;
}
.dailyNews_container_middle_mainNew a {
  font-size: 32px;
  width: 96%;
  margin: 20px auto;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 10px;
  display: block;
}
.dailyNews_container_middle_mainNew p {
  width: 96%;
  margin: 20px auto;
  font-size: 20px;
}
.dailyNews_container_middle_mainNew_image {
  height: 65%;
  background-image: url(images/news_image/main_new.jpg);
  background-size: cover;
  background-position: 100px;
  width: 100%;
}
.dailyNews_container_middle_sideNews {
  height: 33%;
  background-color: #ffffff;
  border: 2px solid #505050;
  border-radius: 20px;
  padding: 1%;
  overflow-x: scroll;
}
.dailyNews_container_middle_sideNews::-webkit-scrollbar {
  display: none;
}
.dailyNews_container_middle_sideNews_new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.dailyNews_container_middle_sideNews_new_content a {
  font-size: 28px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  margin-bottom: 20px;
  display: block;
  color: black;
}
.dailyNews_container_middle_sideNews_new_content p {
  font-size: 19px;
}
.dailyNews_container_middle_sideNews_new_content p span {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.dailyNews_container_middle_sideNews_new img {
  width: 20%;
}
.generalKnowledge_title {
  margin-bottom: 40px;
}
.generalKnowledge_title h1 {
  background-color: #f0f0f0;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  border-radius: 10px;
}
.generalKnowledge_container {
  background-color: #f0f0f0;
  padding: 1.2%;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.generalKnowledge_container_knowledge {
  padding: 2%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 1.2%;
}
.generalKnowledge_container_knowledge img {
  width: 100%;
  border-radius: 10px;
}
.generalKnowledge_container_knowledge a {
  font-weight: 500;
  margin-bottom: 15px;
  color: black;
  font-size: 24px;
}
.generalKnowledge_container_knowledge p {
  color: gray;
}
.analyse_news {
  background-color: #f0f0f0;
  padding: 0 2%;
  padding-bottom: 2%;
  border-radius: 15px;
}
.analyse_news_title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 64px;
  display: inline-block;
  width: 100%;
}
.analyse_news_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.analyse_news_container_new {
  margin: 3%;
}
.analyse_news_container_new img {
  width: 100%;
}
.analyse_news_container_new a {
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
  font-size: 20px;
  display: block;
}
.analyse_entrys {
  margin-top: 60px;
  background-color: #f0f0f0;
  padding: 1.2%;
  border-radius: 20px;
}
.analyse_entrys_title {
  text-align: center;
  font-size: 64px;
  margin-bottom: 25px;
}
.analyse_entrys_categorize {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 1%;
  justify-content: center;
}
.analyse_entrys_categorize > i {
  color: #7c7c7c;
  font-size: 64px;
}
.analyse_entrys_categorize_options {
  display: flex;
  border-radius: 20px;
  border: 2px solid gray;
}
.analyse_entrys_categorize_options h1 {
  font-size: 44px;
  font-weight: 400;
  padding: 10px 30px;
  cursor: pointer;
}
.analyse_entrys_categorize_options h1:nth-child(2) {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
.analyse_entrys_categorize_options h1:nth-child(3) {
  border-right: 2px solid gray;
}
.analyse_entrys_categorize_options h1 i {
  margin-left: 10px;
  transform: translateY(-14%);
}
.analyse_entrys .scroll_bar {
  height: 570px;
  margin-top: 40px;
  overflow-y: scroll;
}
.analyse_entrys .scroll_bar::-webkit-scrollbar {
  width: 18px;
}
.analyse_entrys .scroll_bar::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 10px;
}
.analyse_entrys .scroll_bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1e1f25;
  border: 3px solid transparent;
  background-clip: content-box;
}
.analyse_entrys_container {
  border: 2px solid gray;
  border-radius: 20px;
  padding: 1.4%;
  margin-right: 2%;
}
.analyse_entrys_container_entry {
  display: flex;
  justify-content: space-between;
  gap: 1%;
  height: 300px;
  padding-bottom: 15px;
  border-bottom: 2px solid gray;
  margin-bottom: 40px;
}
.analyse_entrys_container_entry img {
  width: 33%;
  height: 100%;
  cursor: pointer;
}
.analyse_entrys_container_entry_currency {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid gray;
}
.analyse_entrys_container_entry_currency_name {
  display: flex;
  align-items: center;
  gap: 1%;
}
.analyse_entrys_container_entry_currency_name img {
  width: 12%;
}
.analyse_entrys_container_entry_currency_name h1 {
  font-size: 48px;
  font-weight: 500;
}
.analyse_entrys_container_entry_currency_price {
  display: flex;
  align-items: center;
  gap: 1%;
}
.analyse_entrys_container_entry_currency_price img {
  width: 10%;
}
.analyse_entrys_container_entry_currency_price p {
  font-size: 32px;
}
.analyse_entrys_container_entry_currency_date {
  font-size: 24px;
}
.analyse_entrys_container_entry_setUp {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.analyse_entrys_container_entry_setUp h1 {
  font-size: 48px;
  font-weight: 500;
}
.set_up {
  display: flex;
  align-items: center;
  gap: 2%;
}
.set_up p {
  font-size: 32px;
}
.set_up img {
  width: 12%;
}
.analyse_entrys_container_entry_setUp_takeProfit p {
  color: #32cd32;
}
.analyse_entrys_container_entry_setUp_stopLoss {
  color: #ff4c4c;
}
.entry_image {
  position: fixed;
  width: 99vw;
  height: 50vw;
  top: 0;
  background-color: #0000006e;
  z-index: 1000;
}
.entry_image img {
  position: absolute;
  width: 50vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.entry_image i {
  color: white;
  font-size: 64px;
  position: absolute;
  top: 5%;
  right: 20%;
  cursor: pointer;
}
