* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bonusBar {
  width: 100vw;
  height: 55px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
.bonusBar_item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100vw;
  width: 1730px;
}
h2 {
  color: #ff0000;
  font-size: 36px;
}
h2 strong {
  /* text-decoration: underline;
  text-decoration-color: #f5ff00;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px; */
  text-shadow: -1px 0px 2px rgba(237, 242, 98, 0.677),
    0px 1px 2px rgba(237, 242, 98, 0.677),
    0px -1px 0px rgba(237, 242, 98, 0.677),
    0px -1px 0px rgba(237, 242, 98, 0.677);
}
