* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  height: 100px;
  background-color: #000000;
  color: white;
  padding: 0 4vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 4vw;
  transform: translateY(-5.2%);
}
.menu > i {
  font-size: 40px;
  display: none;
  cursor: pointer;
}
.menu_logo {
  height: 100%;
}
.menu_logo img {
  height: 120%;
  transform: translateY(-10%);
}
.menu_tags {
  display: flex;
  width: 75vw;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu_tags li a {
  color: white;
  text-decoration: none;
  font-size: 28px;
}
.menu_tags li:last-child {
  font-size: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu_tags li:last-child i:last-child {
  transform: translateY(-15%);
}
.menu_tags li:last-child i:first-child {
  margin: 0px 10px;
}
.menu_tags li:hover a {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.menu_tags li:last-child .options {
  background-color: gray;
  color: #e4e4e4;
  margin-left: 10px;
  border-radius: 25px;
  padding: 2px;
  position: relative;
}
.menu_tags li:last-child .options span {
  display: inline-block;
  padding: 5px;
  font-size: 18px;
}
.menu_tags li:last-child .options span:first-child {
  margin-right: 10px;
}
.menu_tags li:last-child .options .ball {
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  z-index: 1000;
  right: 3%;
  color: white;
  text-align: center;
  transition: all 0.5s linear;
}
.menu_tags li:last-child .options .ball span {
  /* transform: translateY(1%); */
  transform: translate(3%, 1%);
}
